body {
    padding: 0;
    margin: 0;
    background-color: #000308;
    color: #c0d2e9f6;
}

.container {
    height: 100vh;
    position: relative;
}

header {
    top: 0;
    width: 80%;
    right: 0;
    font-size: 15px;
    background-color: #000308c7;
    margin-left: 20%;
    position: fixed;
    z-index: 999;

}

header h1 {
    font-size: 16px;
    color: #c0d2e9f6;
}

.headerItem1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.headerItem2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.form>div {
    margin-right: 10px;
}

form {
    border: none;
    width: 100%;
    margin-bottom: 2px;

}

input[type='text'] {
    display: block;
    border: none;
    padding: 5px;
    border-radius: 2px;
    border-bottom: 2px solid #3b4149f6;
    background-color: #000308f6;
    color: #c0d2e9f6;
    background-color: transparent;

    margin-bottom: 2px;
}

input[type='submit'] {
    margin-bottom: 2px;

}

input[type="text"]::placeholder {
    color: #c0d2e9f6;
    font-size: large;
    font-style: italic;

}

.search-icon {
    color: #c0d2e9f6;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}


header nav ul {
    list-style-type: none;

}

header nav li {
    display: inline;
    margin-right: 10px;

}

header nav li a {
    display: inline-block;
    text-decoration: none;
    color: #c0d2e9f6;


}

.header,
.sidebar {
    margin: 0;
    padding: 0;
    background-color: #0003087a;
}

/* style side bar */
.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    background-color: #0003087a;
    color: #c0d2e9f6;
    width: 20%;
    color: white;

}

.fa-bars {
    margin-right: 10px;
    color: #c0d2e9f6;
    cursor: pointer;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    text-align: left;
    margin-bottom: 20px;
    color: #c0d2e9f6;


}

.fas {
    font-size: 10px;
}



.section1 {
    position: relative;
    top: 0;
    background-image: url('https://wallpaper-house.com/data/out/5/wallpaper2you_59850.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    color: #c0d2e9f6;
    z-index: -1;
    width: 80%;
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000308bd;
    z-index: -1;
}

.sticky_container {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.main {
    position: relative;
    width: 80%;
    float: right;
    height: calc(100vh - var(--header-height))
}



#section_2_content_container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: initial;
}

.videoElement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 170px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    color: #000308f6;
    background-color: #c0d2e9f6;
}

.videoElement>div {
    text-align: center;
    align-items: center;
    justify-content: center;

}

.videoElement img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 50%;
    border-radius: 5px;
}


.videoElement p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
}

.video-link {
    text-decoration: none;
    color: #000308f6;
    background-color: #c0d2e9f6;
    border: 2px solid #000308f6;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;

    transition: background-color 0.3s ease;
}

.video-link:hover {
    background-color: #000308f6;
    color: #c0d2e9f6;
}

.btn {
    margin-top: 5px;
}

.addToPlaylistBtn {
    background-color: #000308f6;
    color: #c0d2e9f6;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addToPlaylistBtn:hover {
    background-color: #c0d2e9f6;
    color: #000308f6;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    color: #0003087a;
    background-color: transparent;
}

.modal-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#video-player {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

#video-player iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.playlistItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.channelInfodiv:first-child {
    border-radius: 10px;
}

.channelInfo>div {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0003087a;
    text-align: center;
    height: auto;
    width: auto;
}



/* 

  <div class="main">
  <div class="section1">
      <form class="form" id="channel-form">
          <input type="text" name="channelName" id="channelName" placeholder="search channel by name">
          <input type="submit" value="search" id="submitSearch">
      </form>
  </div> */